In [4]:
%run "C:\Users\kassenov_r\report-automation\suburban_schools\sor_soch_cleaning\data_cleaning.ipynb"

!Attention! : 'df4' has no school name
!Attention! : 'df6' has no school name
!Attention! : 'df16' has no school name
!Attention! : 'df22' has no school name
!Attention! : 'df24' has no school name
!Attention! : 'df25' has no school name
!Attention! : 'df26' has no school name
!Attention! : 'df31' has no school name

In [8]:
ss_max_list = ['sor1_max', 'sor2_max', 'sor3_max', 'soch_max']

In [20]:
for key, df in df_dict.items():
    print(f"'{key}'")
    print(df.info())

'df1'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755 entries, 0 to 754
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    755 non-null    object
 1   fio       755 non-null    object
 2   grade     755 non-null    int64
 3   subject   755 non-null    object
 4   sor1      755 non-null    int64
 5   sor1_max  755 non-null    int64
 6   sor2      755 non-null    int64
 7   sor2_max  755 non-null    float64
 8   sor3      755 non-null    int64
 9   sor3_max  755 non-null    float64
 10  soch      755 non-null    int64
 11  soch_max  755 non-null    int64
dtypes: float64(2), int64(7), object(3)
memory usage: 70.9+ KB
None
'df2'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705 entries, 0 to 704
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    705 non-null    object
 1   fio       705 non-null    object
 2   grade     705 non-null    int64
 3   subject   705 non-null    object
 4   sor1      705 non-null    int64
 5   sor1_max  705 non-null    float64
 6   sor2      705 non-null    int64
 7   sor2_max  705 non-null    float64
 8   sor3      705 non-null    int64
 9   sor3_max  705 non-null    float64
 10  soch      705 non-null    int64
 11  soch_max  705 non-null    float64
dtypes: float64(4), int64(5), object(3)
memory usage: 66.2+ KB
None
'df3'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1032 entries, 0 to 1031
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    1032 non-null   object
 1   fio       1032 non-null   object
 2   grade     1032 non-null   int64
 3   subject   1032 non-null   object
 4   sor1      1032 non-null   int64
 5   sor1_max  1032 non-null   float64
 6   sor2      1032 non-null   int64
 7   sor2_max  1032 non-null   float64
 8   sor3      1032 non-null   int64
 9   sor3_max  1032 non-null   float64
 10  soch      1032 non-null   int64
 11  soch_max  1032 non-null   int64
dtypes: float64(3), int64(6), object(3)
memory usage: 96.9+ KB
None
'df4'
<class 'pandas.core.frame.DataFrame'>
Index: 681 entries, 0 to 682
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    0 non-null      float64
 1   fio       681 non-null    object
 2   grade     681 non-null    int64
 3   subject   681 non-null    object
 4   sor1      681 non-null    float64
 5   sor1_max  681 non-null    float64
 6   sor2      681 non-null    float64
 7   sor2_max  681 non-null    float64
 8   sor3      681 non-null    int64
 9   sor3_max  681 non-null    float64
 10  soch      681 non-null    int64
 11  soch_max  681 non-null    float64
dtypes: float64(7), int64(3), object(2)
memory usage: 69.2+ KB
None
'df5'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498 entries, 0 to 497
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    498 non-null    object
 1   fio       498 non-null    object
 2   grade     498 non-null    int64
 3   subject   498 non-null    object
 4   sor1      498 non-null    int64
 5   sor1_max  498 non-null    int64
 6   sor2      498 non-null    int64
 7   sor2_max  498 non-null    float64
 8   sor3      498 non-null    int64
 9   sor3_max  498 non-null    float64
 10  soch      498 non-null    int64
 11  soch_max  498 non-null    int64
dtypes: float64(2), int64(7), object(3)
memory usage: 46.8+ KB
None
'df6'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 703 entries, 0 to 702
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    0 non-null      float64
 1   fio       703 non-null    object
 2   grade     703 non-null    int64
 3   subject   703 non-null    object
 4   sor1      703 non-null    int64
 5   sor1_max  703 non-null    int64
 6   sor2      703 non-null    float64
 7   sor2_max  703 non-null    float64
 8   sor3      703 non-null    float64
 9   sor3_max  703 non-null    float64
 10  soch      703 non-null    int64
 11  soch_max  703 non-null    float64
dtypes: float64(6), int64(4), object(2)
memory usage: 66.0+ KB
None
'df7'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    514 non-null    object
 1   fio       514 non-null    object
 2   grade     514 non-null    int64
 3   subject   514 non-null    object
 4   sor1      514 non-null    int64
 5   sor1_max  514 non-null    float64
 6   sor2      514 non-null    int64
 7   sor2_max  514 non-null    float64
 8   sor3      514 non-null    int64
 9   sor3_max  514 non-null    float64
 10  soch      514 non-null    int64
 11  soch_max  514 non-null    float64
dtypes: float64(4), int64(5), object(3)
memory usage: 48.3+ KB
None
'df8'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 648 entries, 0 to 647
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    648 non-null    object
 1   fio       648 non-null    object
 2   grade     648 non-null    int64
 3   subject   648 non-null    object
 4   sor1      648 non-null    int64
 5   sor1_max  648 non-null    float64
 6   sor2      648 non-null    int64
 7   sor2_max  648 non-null    float64
 8   sor3      648 non-null    int64
 9   sor3_max  648 non-null    float64
 10  soch      648 non-null    int64
 11  soch_max  648 non-null    float64
dtypes: float64(4), int64(5), object(3)
memory usage: 60.9+ KB
None
'df9'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435 entries, 0 to 434
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    435 non-null    object
 1   fio       435 non-null    object
 2   grade     435 non-null    int64
 3   subject   435 non-null    object
 4   sor1      435 non-null    int64
 5   sor1_max  435 non-null    int64
 6   sor2      435 non-null    int64
 7   sor2_max  435 non-null    float64
 8   sor3      435 non-null    int64
 9   sor3_max  435 non-null    float64
 10  soch      435 non-null    int64
 11  soch_max  435 non-null    float64
dtypes: float64(3), int64(6), object(3)
memory usage: 40.9+ KB
None
'df10'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    320 non-null    object
 1   fio       320 non-null    object
 2   grade     320 non-null    int64
 3   subject   320 non-null    object
 4   sor1      320 non-null    int64
 5   sor1_max  320 non-null    float64
 6   sor2      320 non-null    float64
 7   sor2_max  320 non-null    int64
 8   sor3      320 non-null    int64
 9   sor3_max  320 non-null    float64
 10  soch      320 non-null    int64
 11  soch_max  320 non-null    float64
dtypes: float64(4), int64(5), object(3)
memory usage: 30.1+ KB
None
'df11'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396 entries, 0 to 395
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    396 non-null    object
 1   fio       396 non-null    object
 2   grade     396 non-null    int64
 3   subject   396 non-null    object
 4   sor1      396 non-null    int64
 5   sor1_max  396 non-null    float64
 6   sor2      396 non-null    int64
 7   sor2_max  396 non-null    float64
 8   sor3      396 non-null    int64
 9   sor3_max  396 non-null    float64
 10  soch      396 non-null    int64
 11  soch_max  396 non-null    int64
dtypes: float64(3), int64(6), object(3)
memory usage: 37.3+ KB
None
'df12'
<class 'pandas.core.frame.DataFrame'>
Index: 551 entries, 0 to 591
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    551 non-null    object
 1   fio       551 non-null    object
 2   grade     551 non-null    int64
 3   subject   551 non-null    object
 4   sor1      551 non-null    int64
 5   sor1_max  551 non-null    float64
 6   sor2      551 non-null    int64
 7   sor2_max  551 non-null    float64
 8   sor3      551 non-null    int64
 9   sor3_max  551 non-null    float64
 10  soch      551 non-null    int64
 11  soch_max  551 non-null    float64
dtypes: float64(4), int64(5), object(3)
memory usage: 56.0+ KB
None
'df13'
<class 'pandas.core.frame.DataFrame'>
Index: 554 entries, 0 to 555
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    554 non-null    object
 1   fio       554 non-null    object
 2   grade     554 non-null    int64
 3   subject   554 non-null    object
 4   sor1      554 non-null    int64
 5   sor1_max  554 non-null    float64
 6   sor2      554 non-null    int64
 7   sor2_max  554 non-null    float64
 8   sor3      554 non-null    float64
 9   sor3_max  554 non-null    float64
 10  soch      554 non-null    int64
 11  soch_max  554 non-null    float64
dtypes: float64(5), int64(4), object(3)
memory usage: 56.3+ KB
None
'df14'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1908 entries, 0 to 1907
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    1908 non-null   object
 1   fio       1908 non-null   object
 2   grade     1908 non-null   int64
 3   subject   1908 non-null   object
 4   sor1      1908 non-null   float64
 5   sor1_max  1908 non-null   float64
 6   sor2      1908 non-null   int64
 7   sor2_max  1908 non-null   float64
 8   sor3      1908 non-null   int64
 9   sor3_max  1908 non-null   float64
 10  soch      1908 non-null   int64
 11  soch_max  1908 non-null   float64
dtypes: float64(5), int64(4), object(3)
memory usage: 179.0+ KB
None
'df15'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549 entries, 0 to 548
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    549 non-null    object
 1   fio       549 non-null    object
 2   grade     549 non-null    int64
 3   subject   549 non-null    object
 4   sor1      549 non-null    int64
 5   sor1_max  549 non-null    float64
 6   sor2      549 non-null    int64
 7   sor2_max  549 non-null    float64
 8   sor3      549 non-null    int64
 9   sor3_max  549 non-null    float64
 10  soch      549 non-null    float64
 11  soch_max  549 non-null    float64
dtypes: float64(5), int64(4), object(3)
memory usage: 51.6+ KB
None
'df16'
<class 'pandas.core.frame.DataFrame'>
Index: 466 entries, 0 to 547
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    0 non-null      float64
 1   fio       466 non-null    object
 2   grade     466 non-null    int64
 3   subject   466 non-null    object
 4   sor1      466 non-null    int64
 5   sor1_max  466 non-null    float64
 6   sor2      466 non-null    int64
 7   sor2_max  466 non-null    float64
 8   sor3      466 non-null    int64
 9   sor3_max  466 non-null    float64
 10  soch      466 non-null    int64
 11  soch_max  466 non-null    float64
dtypes: float64(5), int64(5), object(2)
memory usage: 47.3+ KB
None
'df17'
<class 'pandas.core.frame.DataFrame'>
Index: 694 entries, 0 to 723
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    694 non-null    object
 1   fio       694 non-null    object
 2   grade     694 non-null    int64
 3   subject   694 non-null    object
 4   sor1      694 non-null    float64
 5   sor1_max  694 non-null    float64
 6   sor2      694 non-null    int64
 7   sor2_max  694 non-null    float64
 8   sor3      694 non-null    int64
 9   sor3_max  694 non-null    float64
 10  soch      694 non-null    float64
 11  soch_max  694 non-null    float64
dtypes: float64(6), int64(3), object(3)
memory usage: 70.5+ KB
None
'df18'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    545 non-null    object
 1   fio       545 non-null    object
 2   grade     545 non-null    int64
 3   subject   545 non-null    object
 4   sor1      545 non-null    int64
 5   sor1_max  545 non-null    float64
 6   sor2      545 non-null    int64
 7   sor2_max  545 non-null    float64
 8   sor3      545 non-null    int64
 9   sor3_max  545 non-null    float64
 10  soch      545 non-null    int64
 11  soch_max  545 non-null    float64
dtypes: float64(4), int64(5), object(3)
memory usage: 51.2+ KB
None
'df19'
<class 'pandas.core.frame.DataFrame'>
Index: 708 entries, 0 to 708
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    708 non-null    object
 1   fio       708 non-null    object
 2   grade     708 non-null    int64
 3   subject   708 non-null    object
 4   sor1      708 non-null    int64
 5   sor1_max  708 non-null    float64
 6   sor2      708 non-null    int64
 7   sor2_max  708 non-null    float64
 8   sor3      708 non-null    int64
 9   sor3_max  708 non-null    float64
 10  soch      708 non-null    int64
 11  soch_max  708 non-null    float64
dtypes: float64(4), int64(5), object(3)
memory usage: 71.9+ KB
None
'df20'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 937 entries, 0 to 936
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    937 non-null    object
 1   fio       937 non-null    object
 2   grade     937 non-null    int64
 3   subject   937 non-null    object
 4   sor1      937 non-null    int64
 5   sor1_max  937 non-null    float64
 6   sor2      937 non-null    int64
 7   sor2_max  937 non-null    float64
 8   sor3      937 non-null    int64
 9   sor3_max  937 non-null    float64
 10  soch      937 non-null    int64
 11  soch_max  937 non-null    float64
dtypes: float64(4), int64(5), object(3)
memory usage: 88.0+ KB
None
'df21'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 735 entries, 0 to 734
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    735 non-null    object
 1   fio       735 non-null    object
 2   grade     735 non-null    int64
 3   subject   735 non-null    object
 4   sor1      735 non-null    int64
 5   sor1_max  735 non-null    float64
 6   sor2      735 non-null    int64
 7   sor2_max  735 non-null    float64
 8   sor3      735 non-null    int64
 9   sor3_max  735 non-null    float64
 10  soch      735 non-null    int64
 11  soch_max  735 non-null    float64
dtypes: float64(4), int64(5), object(3)
memory usage: 69.0+ KB
None
'df22'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    0 non-null      float64
 1   fio       731 non-null    object
 2   grade     731 non-null    int64
 3   subject   731 non-null    object
 4   sor1      731 non-null    int64
 5   sor1_max  731 non-null    float64
 6   sor2      731 non-null    int64
 7   sor2_max  731 non-null    float64
 8   sor3      731 non-null    int64
 9   sor3_max  731 non-null    float64
 10  soch      731 non-null    int64
 11  soch_max  731 non-null    float64
dtypes: float64(5), int64(5), object(2)
memory usage: 68.7+ KB
None
'df23'
<class 'pandas.core.frame.DataFrame'>
Index: 514 entries, 0 to 514
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    514 non-null    object
 1   fio       514 non-null    object
 2   grade     514 non-null    int64
 3   subject   514 non-null    object
 4   sor1      514 non-null    int64
 5   sor1_max  514 non-null    float64
 6   sor2      514 non-null    int64
 7   sor2_max  514 non-null    float64
 8   sor3      514 non-null    int64
 9   sor3_max  514 non-null    float64
 10  soch      514 non-null    int64
 11  soch_max  514 non-null    float64
dtypes: float64(4), int64(5), object(3)
memory usage: 52.2+ KB
None
'df24'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    0 non-null      float64
 1   fio       352 non-null    object
 2   grade     352 non-null    int64
 3   subject   352 non-null    object
 4   sor1      352 non-null    int64
 5   sor1_max  352 non-null    float64
 6   sor2      352 non-null    int64
 7   sor2_max  352 non-null    float64
 8   sor3      352 non-null    int64
 9   sor3_max  352 non-null    float64
 10  soch      352 non-null    int64
 11  soch_max  352 non-null    float64
dtypes: float64(5), int64(5), object(2)
memory usage: 33.1+ KB
None
'df25'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    0 non-null      float64
 1   fio       258 non-null    object
 2   grade     258 non-null    int64
 3   subject   258 non-null    object
 4   sor1      258 non-null    int64
 5   sor1_max  258 non-null    float64
 6   sor2      258 non-null    int64
 7   sor2_max  258 non-null    float64
 8   sor3      258 non-null    int64
 9   sor3_max  258 non-null    float64
 10  soch      258 non-null    int64
 11  soch_max  258 non-null    int64
dtypes: float64(4), int64(6), object(2)
memory usage: 24.3+ KB
None
'df26'
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 185 to 185
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    0 non-null      float64
 1   fio       1 non-null      object
 2   grade     1 non-null      int64
 3   subject   1 non-null      object
 4   sor1      1 non-null      float64
 5   sor1_max  1 non-null      float64
 6   sor2      1 non-null      float64
 7   sor2_max  1 non-null      float64
 8   sor3      1 non-null      float64
 9   sor3_max  1 non-null      float64
 10  soch      1 non-null      float64
 11  soch_max  1 non-null      float64
dtypes: float64(9), int64(1), object(2)
memory usage: 104.0+ bytes
None
'df27'
<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 157 to 197
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    3 non-null      object
 1   fio       3 non-null      object
 2   grade     3 non-null      int64
 3   subject   3 non-null      object
 4   sor1      3 non-null      float64
 5   sor1_max  3 non-null      float64
 6   sor2      3 non-null      float64
 7   sor2_max  3 non-null      float64
 8   sor3      3 non-null      float64
 9   sor3_max  3 non-null      float64
 10  soch      3 non-null      float64
 11  soch_max  3 non-null      float64
dtypes: float64(8), int64(1), object(3)
memory usage: 312.0+ bytes
None
'df28'
<class 'pandas.core.frame.DataFrame'>
Index: 456 entries, 0 to 478
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   school    456 non-null    object
 1   fio       456 non-null    object
 2   grade     456 non-null    int64
 3   subject   456 non-null    object
 4   sor1      456 non-null    int64
 5   sor1_max  456 non-null    float64
 6   sor2      456 non-null    int64
 7   sor2_max  456 non-null    float64
 8   sor3      456 non-null    int64
 9   sor3_max  456 non-null    float64
 10  soch      456 non-null    int64
 11  soch_max  456 non-null    float64
dtypes: float64(4), int64(5), object(3)
memory usage: 46.3+ KB
None
'df29'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 728 entries, 0 to 727
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype

In [21]:
df_dict['df26']

,school,fio,grade,subject,sor1,sor1_max,sor2,sor2_max,sor3,sor3_max,soch,soch_max
185,NaN,Әділбек Әбдірахым,8,BIOL,17.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0