In [1]:
import pandas as pd
import numpy as np

In [2]:
db = pd.read_excel(r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\63 сш.xlsx").map(lambda x: " ".join(x.split()) if isinstance(x, str) else x)

In [56]:
to_read = {
    1 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Абай облысы (Done)\Done COPY - Қожагелді батыр мектебі 4,8 сын БЖБ ТЖБ.xlsx",
    2 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Абай облысы (Done)\Done COPY - сш Маяковского СОР и Соч  1 четв.xlsx",
    3 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Акмолинская область (1 remaining)\Done COPY - 4-8 И Құтпанұлы Аршалы ауданы Жібек жолы ауылы.xlsx",
    4 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Акмолинская область (1 remaining)\Done COPY - Ж. Бектұров атындағы №3 ЖОББМ 4-8сынып.xlsx",
    5 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Акмолинская область (1 remaining)\Done COPY - ШОртанды №3 ЖОББМ БЖБ және ТЖБ қорытындысы (1).xlsx",
    6 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Актюбинская область\Done COPY - 4,8  сыныптар    СОР и СОЧ  ХРОМТАУ.xlsx", # Актюбинская область
    7 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Актюбинская область\Done COPY №2 Бадамша ОМ СОР и СОЧ.xlsx", # Актюбинская область
    8 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Актюбинская область\Done COPY - №4 ШЖОББМ.xlsx", # Актюбинская область
    9 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Актюбинская область\Done COPY - Ақтөбе об., Қобда ауд.,Қобда қазақ орта мектебі.xlsx", # Актюбинская область
    10 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Актюбинская область\Done COPY - Байғанин ауданы. Т.Жармағамбетов атындағы орта мектебі.xlsx", # Актюбинская область
    11 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Актюбинская область\Done COPY - СОР и СОЧ . СШ№3 г.Шалкар.xlsx", # Актюбинская область
    12 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Актюбинская область\Done COPY - СОР и СОЧ 1ч. 4 и 8 классы Мартук.xlsx", # Актюбинская область
    13 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Актюбинская область\Done COPY - Ырғыз ауданы, Ы.Алтынсарин ат ЖББОМ СОР СОЧ  4,8 класс.xlsx", # Актюбинская область
    14 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Актюбинская область\REVISE! COPY - Мугалжар ауданы, Кандыагаш 3 мектеп-гимназиясы 4,8 класс.xlsx", # Актюбинская область
    15 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Актюбинская область\REVISE! COPY - СОР и СОЧ Айтеке би Т.Жургенов.xlsx", # Актюбинская область
    16 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Актюбинская область\REVISE! COPY - СШ им Жусибалиева.xlsx", # Актюбинская область
    17 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Алматы облысы\Done COPY - Алматы, Баканас 4-8 сынып СОР, СОЧ.xlsx", # Алматинская область
    18 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Алматы облысы\Done COPY - Нарынқол СОР и СОЧ.xlsx", # Алматинская область
    19 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Алматы облысы\REVISE! Done COPY - Ұйғыр ауданы Шонжы а Абай атындағы МГ.xlsx", # Алматинская область
    20 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Атырауская область\Done COPY - «Атырау облысы Білім беру басқармасының Индер ауданды...қін...тындағы орта мектеп» коммуналдық мемлекеттік мекемесі.xlsx", # Атырауская область
    21 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Атырауская область\Done COPY - СОР и СОЧ  Х.Досмұхамедұлы.xlsx", # Атырауская область
    22 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\ВКО\NO MAX COPY - СОР, СОЧ СШ М.Ауэзова ВКО г.Зайсан - Copy.xlsx", # ВКО
    23 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\ВКО\NO MAX COPY - ШҚО, Тарбағатай ауданы, Абай мектебі - Copy.xlsx", # ВКО
    24 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\ВКО\NO MAX in 4 grade COPY - Ж.Болғанбаев ОМЛ СОР и СОЧ.xlsx", # ВКО
    25 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\ВКО\NO MAX sor COPY - БЖБ ТЖБ №5 ОМ Шемонаиха.xlsx", # ВКО
    26 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Жамбылская область\COPY - 4-8_сынып_БЖБ-ТЖБ Ә.Бөкейхан атындағы  №15 тірек мектеп-лицей.xlsx", # Жамбылская область
    27 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Жамбылская область\COPY 2 - Мойынкум 4 -8  Мойынқұм ауданы, Т.Рысқұлов тірек.xlsx", # Жамбылская область
    28 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Жетисуская область\COPY - Ескелдинский район школа Шестакова.xlsx", # Жетисуская область
    29 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Жетисуская область\COPY - Жетісу облысы Сарқан қаласы Абай атындағы мектеп-гимназия.xlsx", # Жетисуская область
    30 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Жетисуская область\COPY - СОР и СОЧ -шаблон Когалинская СШ2.xlsx", # Жетисуская область
    31 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\ЗКО\COPY - Жымпиты СОР, СОЧ 1 Тоқсан.xlsx", # ЗКО
    32 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\ЗКО\COPY - М-С.Бабажанов.xlsx", # ЗКО
    33 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\ЗКО\NO MAX COPY - СОР и СОЧ -ЗКО Жанибекский район.xlsx", # ЗКО
    34 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Костанайская область\COPY - СОР СОЧ Рудный қаласы білім бөлімінің Бейімбет Майлин атындағы №7 мектеп-гимназиясы.xlsx", # Костанайская область
    35 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Костанайская область\COPY - Узункольская ООШ 1 СОР-СОЧ.xlsx", # Костанайская область
    36 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Костанайская область\NO MAX COPY - ШГ им.А.Кунанбаева г.Аркалык СОР и СОЧ.xlsx", # Костанайская область
    37 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Костанайская область\NO MAX COPY - ШЛ имени Абая сор и соч.xlsx", # Костанайская область
    38 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Кызылординская область\COPY - СОР и СОЧ -шаблон №250 мектеп Қармақшы.xlsx", # Кызылординская область
    39 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Кызылординская область\COPY (exception) - 286 орта мектеп 8-4.xlsx", # Кызылординская область !!!!!!!!!!!!!!!!!!!!!!!!
    40 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Мангистауская область\COPY - Маңғыстау облысы Қарақия ауданы Құрық ауылы  №6 ЖББМ.xlsx 4,8-сынып.xlsx", # Мангистайская область
    41 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Мангистауская область\COPY - Маңғыстау облысы Маңғыстау ауданы Шетпе ауылы  Н.Жұбаев атындағы ЖББМ 4,8-сынып.xlsx", # Мангистайская область
    # 42 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Павлодарская  область\COPY (exception) - Аққулы СОР и СОЧ.xlsx", # Павлодарская область !!!!!!!!!!!!!!!!!!!!!!!
    # 43 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Павлодарская  область\COPY (exception) - Баянаул, З.Акишев СОР и СОЧ.xlsx", # Павлодарская область !!!!!!!!!!!!!!!!!!!!!!!
    # 44 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Павлодарская  область\COPY (exception) - Тереңкөл СОР, СОЧ-1.xlsx", # Павлодарская область !!!!!!!!!!!!!!!!!!!!!!!
    45 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Северо-Казахстанская область\COPY - КГУ ШГим ББ СОР СОЧ.xlsx", # Северо-Казахстанская область
    46 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Северо-Казахстанская область\COPY - СОР и СОЧ  Мамлютка.xlsx", # Северо-Казахстанская область
    47 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Северо-Казахстанская область\COPY - СОР и СОЧ -Қожаберген жырау ат. ЖОББМ үлгі.xlsx", # Северо-Казахстанская область
    # 48 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Северо-Казахстанская область\COPY (exception) - КГУ Явленская СШ№3 Есильский СКО (1).xlsx", # Северо-Казахстанская область !!!!!!!!!!!!!!!!!!!!!!!!!
    49 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Туркестанская область\COPY - А.Сулейменов СОР СОЧ талдау.xlsx", # Туркестанская область
    50 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Туркестанская область\COPY - САУРАН АУДАНЫ Ә.СЫҒАЙ ЖББМ 8 СЫНЫП СОР СОЧ.xlsx", # Туркестанская область
    51 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Туркестанская область\COPY - СОР и СОЧ .xlsx Амангелді Иманов ат.ЖББМ (1).xlsx", # Туркестанская область
    52 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Туркестанская область\COPY - СОР и СОЧ 8-4 сыныптар №7 ІТ мектеп-лицей (1).xlsx", # Туркестанская область
    53 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Туркестанская область\COPY - СОР и СОЧ 12 Б. Момышұлы  Кентау.xlsx", # Туркестанская область
    54 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Туркестанская область\COPY - 1Түркістан облысы, Бәйдібек ауданы С.Әбдіжаппаров ат ЖББМЖИ 4, 8 сыныптар  СОР и СОЧ.xlsx", # Туркестанская область
    55 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Улытауская область\NO MAX 8BIOL COPY - Б.Амалбеков 4,8 сыныптар БЖБ ТЖБ.xlsx" # Улытауская область
}

In [57]:
df_dict = {}
ss_list = ['sor1', 'sor2', 'sor3', 'soch']
for key, file_path in to_read.items():
    try:
        df_dict[f"df{key}"] = pd.read_excel(file_path, sheet_name='data', dtype={col: str for col in ss_list})
    except FileNotFoundError:
        print(f"File not found: {file_path}")
    except Exception as e:
        print(f"Error reading file: {file_path}. Error: {e}")

In [ ]:
subject_map = {
    'английский язык' : 'ENFL',
    'ағылшын тілі' : 'ENFL',
    'биология' : 'BIOL',
    'география' : 'GEOG',
    'жаратылыстану' : 'SCIE',
    'казахский язык' : 'KZFL',
    'математика' : 'MATH',
    'русский язык' : 'RUFL',
    'русский язык и литература' : 'RUFL',
    'физика' : 'PHYS',
    'химия' : 'CHEM',
    'қазақ тілі' : 'KZFL'
}

In [58]:
for key, df in df_dict.items():
    # Testing
    must_have_cols = ['fio', 'subject', 'soch']
    for mhcol in must_have_cols:
        if not 'soch' in df.columns:
            print(f"! Warning ! : No '{mhcol}' column in '{key}'")
            break
    
    df = df.map(lambda x: " ".join(x.split()) if isinstance(x, str) else x) # Removing whitespaces

    # In some tables there is only one name for all subjects. Hence, we need to multiplicate the name to its corresponding subjects
    # -----------------------------------------
    if df['fio'].isna().values.any():
        name = ''
        for index, fio in enumerate(df['fio']):
            if isinstance(fio, str):
                name = fio
            else:
                df.loc[index, 'fio'] = name
    # -----------------------------------------
    
    # Sometimes, instead of a standard format (mixture of numbers and abbreviations), subjects are written in full words
    # -----------------------------------------
    # isWord = False
    # for index, char in enumerate(df['subject'].unique()):
    #     if not ('4' in char or '8' in char):
    #         isWord = True
    #         break
    # subject_map = {
        
    # }
    # if isWord == True:
    #     df['subject'] = df['subject'].str.lower()
    # # -----------------------------------------


    df = df.fillna('0')

    for col in ['sor1', 'sor2', 'sor3']:
        if col not in df.columns: 
            df[col] = 0

    df[ss_list] = df[ss_list].map(lambda x: ''.join(x.split()) if isinstance(x, str) else x)

    df.dropna(subset=['sor1', 'sor2', 'sor3', 'soch'], how='all', inplace=True)

    for index, char in enumerate(df['subject']):
        if ('4' in char or '8' in char):
            df.loc[index, 'grade'] = df.loc[index, 'subject'][0]
            df.loc[index, 'subject'] = df.loc[index, 'subject'][1:]
    df['grade'] = pd.to_numeric(df['grade'], errors='coerce')


    df[ss_list] = df[ss_list].map(lambda x: str(x).replace('\\', ' ').replace('/', ' ').replace('|', ' ').replace('.', '').replace(',', ''))

    df = df.map(lambda x: np.nan if str(x).isspace() else np.nan if str(x) == '' else x)
    df.dropna(subset=df.columns, how='all', inplace=True)

    for col in ss_list:
        df[f"{col}_max"] = df[col].apply(lambda x: str(x).split()[1] if (len(str(x).split()) > 1 and str(x) != '0') else np.nan)
        df[col] = df[col].apply(lambda x: str(x).split()[0] if len(str(x).split()) >= 1 else x)
        df[col] = pd.to_numeric(df[col], errors='coerce')
        df[f"{col}_max"] = pd.to_numeric(df[f"{col}_max"], errors='coerce')
    df = df.fillna(0)
    
    df = df.map(lambda x: " ".join(x.split()) if isinstance(x, str) else x)

    name = df.loc[2, 'fio']
    school = db.loc[db['fio'].str.contains(name), 'school_ru'].unique()
    
    # Testing
    if len(school) == 1:
        df['school'] = school[0]
    else:
        print(f"!Attention! : '{key}' has no school name")

    df = df[~((df['sor1'] == 0) & (df['sor2'] == 0) & (df['sor3'] == 0))] # removing rows with no values
    
    reindexed_cols = ['school', 'fio', 'grade', 'subject', 'sor1', 'sor1_max', 'sor2', 'sor2_max', 'sor3', 'sor3_max', 'soch', 'soch_max']
    df = df.reindex(columns=reindexed_cols)

    df_dict[key] = df

# Testing
for key, df in df_dict.items():
    df = df.drop(columns='school')
    if df.isna().values.any():
        print(f"Error: '{key}' contains NaN values")
        display(df[df.isna()].head(3))
    for subject in df['subject']:
        if len(subject) < 4:
            print(f"Error: 'subject' in '{key}' < 4 characters")
            display(df[df['subject'] == subject])
            break

!Attention! : 'df4' has no school name
!Attention! : 'df6' has no school name
!Attention! : 'df16' has no school name
!Attention! : 'df22' has no school name
!Attention! : 'df24' has no school name
!Attention! : 'df25' has no school name
!Attention! : 'df26' has no school name
!Attention! : 'df31' has no school name
!Attention! : 'df51' has no school name
!Attention! : 'df55' has no school name

In [60]:
df_dict['df45']

,school,fio,grade,subject,sor1,sor1_max,sor2,sor2_max,sor3,sor3_max,soch,soch_max
0,"КГУ ""Школа-гимназия имени Батыр Баяна""",Андреева Зарина,8,MATH,11,0.0,0,0.0,0,0.0,20.0,0.0
1,"КГУ ""Школа-гимназия имени Батыр Баяна""",Андреева Зарина,8,RUFL,10,0.0,8,0.0,0,0.0,17.0,0.0
2,"КГУ ""Школа-гимназия имени Батыр Баяна""",Андреева Зарина,8,KZSL,5,0.0,6,0.0,0,0.0,19.0,0.0
3,"КГУ ""Школа-гимназия имени Батыр Баяна""",Андреева Зарина,8,ENFL,4,0.0,6,0.0,0,0.0,11.0,0.0
4,"КГУ ""Школа-гимназия имени Батыр Баяна""",Андреева Зарина,8,CHEM,5,0.0,9,0.0,14,0.0,7.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
349,"КГУ ""Школа-гимназия имени Батыр Баяна""",Фароносова Алина,4,RUFL,8,0.0,5,0.0,0,0.0,15.0,0.0
350,"КГУ ""Школа-гимназия имени Батыр Баяна""",Фароносова Алина,4,SCIE,5,0.0,11,0.0,0,0.0,13.0,0.0
351,"КГУ ""Школа-гимназия имени Батыр Баяна""",Шарипова Аружан,4,MATH,7,0.0,8,0.0,9,0.0,16.0,0.0
352,"КГУ ""Школа-гимназия имени Батыр Баяна""",Шарипова Аружан,4,RUFL,8,0.0,8,0.0,0,0.0,16.0,0.0
353,"КГУ ""Школа-гимназия имени Батыр Баяна""",Шарипова Аружан,4,SCIE,6,0.0,11,0.0,0,0.0,15.0,0.0

In [211]:
# df_dict['df9'].isna().value_counts()

school  fio    grade  subject  sor1   sor1_max  sor2   sor2_max  sor3   sor3_max  soch   soch_max
False   False  False  False    False  False     False  False     False  False     False  False       435
Name: count, dtype: int64

In [219]:
# df_dict['df15']

,school,fio,grade,subject,sor1,sor1_max,sor2,sor2_max,sor3,sor3_max,soch,soch_max
0,"КГУ ""Общеобразовательная средняя школа имени Т...",Айділда Құдырет Сержанұлы,4,KZFL,5,5,5,5,0,0,10.0,10.0
1,"КГУ ""Общеобразовательная средняя школа имени Т...",Айділда Құдырет Сержанұлы,4,MATH,5,5,7,7,5,5,9.0,9.0
2,"КГУ ""Общеобразовательная средняя школа имени Т...",Айділда Құдырет Сержанұлы,4,SCIE,4,4,5,5,0,0,6.0,6.0
3,"КГУ ""Общеобразовательная средняя школа имени Т...",Айділда Құдырет Сержанұлы,4,RUFL,6,6,6,6,0,0,8.0,8.0
4,"КГУ ""Общеобразовательная средняя школа имени Т...",Ақалмас Аянат Мерекеқызы,4,KZFL,10,10,10,10,0,0,18.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...
544,"КГУ ""Общеобразовательная средняя школа имени Т...",Шәмбілбек Гүлназ,8,ENFL,9,9,8,8,0,0,21.0,21.0
545,"КГУ ""Общеобразовательная средняя школа имени Т...",Шәмбілбек Гүлназ,8,KZFL,6,6,7,7,0,0,20.0,20.0
546,"КГУ ""Общеобразовательная средняя школа имени Т...",Шәмбілбек Гүлназ,8,MATH,10,10,0,0,0,0,14.0,14.0
547,"КГУ ""Общеобразовательная средняя школа имени Т...",Шәмбілбек Гүлназ,8,PHYS,12,12,9,9,0,0,17.0,17.0
548,"КГУ ""Общеобразовательная средняя школа имени Т...",Шәмбілбек Гүлназ,8,RUSL,8,8,11,11,0,0,20.0,20.0

In [128]:
# t = df_dict['df6'].drop(columns=['school', 'fio']) 
# t.loc[t.isna().any(axis=1), ['sor1', 'sor2', 'sor3', 'soch']]

     sor1  sor2  sor3  soch
174    15  15.0   NaN    25
175     7  10.0   NaN    30
176    20   NaN   NaN    30
177    14   NaN   NaN    20
179    10  10.0   NaN    24
..    ...   ...   ...   ...
692    15  15.0   NaN    25
694    10  10.0   NaN    24
696    12   NaN   NaN    20
697    15  15.0   NaN    25
700    10  10.0   NaN    24

[328 rows x 4 columns]

In [321]:
# Debugging df26
to_read = {26 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Жамбылская область\COPY - 4-8_сынып_БЖБ-ТЖБ Ә.Бөкейхан атындағы  №15 тірек мектеп-лицей.xlsx"}
df_dict = {}
ss_list = ['sor1', 'sor2', 'sor3', 'soch']
for key, file_path in to_read.items():
    try:
        df_dict[f"df{key}"] = pd.read_excel(file_path, sheet_name='data', dtype={col: str for col in ss_list})
    except FileNotFoundError:
        print(f"File not found: {file_path}")
    except Exception as e:
        print(f"Error reading file: {file_path}. Error: {e}")

for key, df in df_dict.items():
    # Testing
    must_have_cols = ['fio', 'subject', 'soch']
    for mhcol in must_have_cols:
        if not 'soch' in df.columns:
            print(f"! Warning ! : No '{mhcol}' column in '{key}'")
            break

    df = df.fillna('0')

    for col in ['sor1', 'sor2', 'sor3']:
        if col not in df.columns: 
            df[col] = 0

    df[ss_list] = df[ss_list].map(lambda x: ''.join(x.split()) if isinstance(x, str) else x)

    df.dropna(subset=['sor1', 'sor2', 'sor3', 'soch'], how='all', inplace=True)

    for index, char in enumerate(df['subject']):
        if ('4' in char or '8' in char):
            df.loc[index, 'grade'] = df.loc[index, 'subject'][0]
            df.loc[index, 'subject'] = df.loc[index, 'subject'][1:]
        else:
            print(f"Error: '{key}' has no grade. Check the subject")
    df['grade'] = pd.to_numeric(df['grade'], errors='coerce')


    df[ss_list] = df[ss_list].map(lambda x: str(x).replace('\\', ' ').replace('/', ' ').replace('|', ' ').replace('.', '').replace(',', ''))
    display(df['soch'].unique())

    df = df.map(lambda x: np.nan if str(x).isspace() else np.nan if str(x) == '' else x)
    df.dropna(subset=df.columns, how='all', inplace=True)

    for col in ss_list:
        df[f"{col}_max"] = df[col].apply(lambda x: str(x).split()[1] if (len(str(x).split()) > 1 and str(x) != '0') else np.nan)
        df[col] = df[col].apply(lambda x: str(x).split()[0] if len(str(x).split()) >= 1 else x)
        df[col] = pd.to_numeric(df[col], errors='coerce')
        df[f"{col}_max"] = pd.to_numeric(df[f"{col}_max"], errors='coerce')
    df = df.fillna(0)
    
    df = df.map(lambda x: " ".join(x.split()) if isinstance(x, str) else x)

    name = df.loc[2, 'fio']
    school = db.loc[db['fio'].str.contains(name), 'school_ru'].unique()
    
    # Testing
    if len(school) == 1:
        df['school'] = school[0]
    else:
        print(f"!Attention! : '{key}' has no school name")

    df = df[~((df['sor1'] == 0) & (df['sor2'] == 0) & (df['sor3'] == 0))] # removing rows with no values
    
    reindexed_cols = ['school', 'fio', 'grade', 'subject', 'sor1', 'sor1_max', 'sor2', 'sor2_max', 'sor3', 'sor3_max', 'soch', 'soch_max']
    df = df.reindex(columns=reindexed_cols)

    df_dict[key] = df

# Testing
for key, df in df_dict.items():
    df = df.drop(columns='school')
    if df.isna().values.any():
        print(f"Error: '{key}' contains NaN values")
        display(df[df.isna()].head(3))
    for subject in df['subject']:
        if len(subject) < 4:
            print(f"Error: 'subject' in '{key}' < 4 characters")
            display(df[df['subject'] == subject])
            break

array(['25∕23', '30∕26', '24∕21', '30∕27', '30∕30', '20∕18', '30∕28',
       '25∕16', '30∕22', '24∕15', '30∕13', '20∕11', '25∕20', '30∕14',
       '25∕18', '30∕12', '30∕16', '20∕10', '25∕15', '25∕24', '24∕22',
       '24∕17', '20∕14', '25∕14', '24∕11', '30∕15', '20∕12', '30∕19',
       '25∕13', '30∕21', '25∕19', '24∕10', '30∕17', '0', '30∕24', '30∕29',
       '24∕12', '30∕20', '30∕23', '30∕18', '24∕13', '24∕18', '20∕15',
       '30∕11', '20∕16', '24∕16', '25∕25', '25∕11', '25∕22', '24∕23',
       '25∕10', '25∕17', '30∕25', '24∕19', '16∕7', '18∕11', '18∕9',
       '16∕16', '18∕18', '10∕16', '18∕12', '16∕8', '18∕10', '16∕15',
       '18∕17', '18∕16', '16∕9', '18∕8', '16∕10', '11∕18', '16∕11',
       '18∕13', '16∕12', '18∕14', '18∕15', '12∕18', '18∕6', '18∕19',
       '10∕18'], dtype=object)

!Attention! : 'df26' has no school name

In [187]:
# # Debugging
# import numpy as np
# to_read = {
#     4 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Акмолинская область (1 remaining)\Done COPY - Ж. Бектұров атындағы №3 ЖОББМ 4-8сынып.xlsx",
#     6 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Актюбинская область\Done COPY - 4,8  сыныптар    СОР и СОЧ  ХРОМТАУ.xlsx"
# }

# df_dict = {}
# ss_list = ['sor1', 'sor2', 'sor3', 'soch']
# for key, file_path in to_read.items():
#     try:
#         df_dict[f"df{key}"] = pd.read_excel(file_path, sheet_name='data', dtype={col: str for col in ss_list})
#     except FileNotFoundError:
#         print(f"File not found: {file_path}")
#     except Exception as e:
#         print(f"Error reading file: {file_path}. Error: {e}")

# for key, df in df_dict.items():
#     df = df.fillna('0')

#     df[ss_list] = df[ss_list].map(lambda x: ''.join(x.split()) if isinstance(x, str) else x)
#     fios = ['КӘРІБАЙ НҰРСҰЛУ', 'ТӨЛЕГЕН ГАУХАР', 'Алиби Ғани']
#     # display(df[df['fio'].isin(fios)])
#     # print(df.isna().values.any())

#     df.dropna(subset=['sor1', 'sor2', 'sor3', 'soch'], how='all', inplace=True)

#     for index, char in enumerate(df['subject']):
#         if ('4' in char or '8' in char):
#             df.loc[index, 'grade'] = df.loc[index, 'subject'][0]
#             df.loc[index, 'subject'] = df.loc[index, 'subject'][1:]
#         else:
#             print(f"Error: '{key}' has no grade. Check the subject")
#     df['grade'] = pd.to_numeric(df['grade'], errors='coerce')


#     df[ss_list] = df[ss_list].map(lambda x: x.replace('\\', ' ').replace('/', ' ').replace('|', ' ').replace('.', '').replace(',', ''))
    
#     df = df.map(lambda x: np.nan if str(x).isspace() else np.nan if str(x) == '' else x)
#     display(df[df['fio'].isin(fios)])

#     for col in ss_list:
#         df[f"{col}_max"] = df[col].apply(lambda x: str(x).split()[1] if (len(str(x).split()) > 1 and str(x) != '0') else x)
#         df[col] = df[col].apply(lambda x: str(x).split()[0] if len(str(x).split()) >= 1 else x)
#         df[col] = pd.to_numeric(df[col], errors='coerce')
#         df[f"{col}_max"] = pd.to_numeric(df[f"{col}_max"], errors='coerce')
#     df = df.fillna(0)
#     display(df[df['fio'].isin(fios)])
    
#     df = df.map(lambda x: " ".join(x.split()) if isinstance(x, str) else x)

#     name = df.loc[2, 'fio']
#     school = db.loc[db['fio'].str.contains(name), 'school_ru'].unique()
#     if len(school) == 1:
#         df['school'] = school[0]
#     else:
#         print(f"Error: '{key}' has no school name")
    
    
#     reindexed_cols = ['school', 'fio', 'grade', 'subject', 'sor1', 'sor1_max', 'sor2', 'sor2_max', 'sor3', 'sor3_max', 'soch', 'soch_max']
#     df = df.reindex(columns=reindexed_cols)

#     # df.dropna(subset=df.columns, how='all', inplace=True)
#     df_dict[key] = df

# # Testing
# for key, df in df_dict.items():
#     df = df.drop(columns='school')
#     if df.isna().values.any():
#         print(f"Error: '{key}' contains NaN values")
#         display(df[df.isna().any(axis=1)].head(3))
#     for subject in df['subject']:
#         if len(subject) < 4:
#             print(f"Error: 'subject' in '{key}' < 4 characters")
#             display(df[df['subject'] == subject])
#             break

                 fio subject   sor1   sor2   sor3   soch  grade
175  КӘРІБАЙ НҰРСҰЛУ    CHEM   8 15   8 15  10 15  13 25      8
176  КӘРІБАЙ НҰРСҰЛУ    BIOL   7 10   8 16  15 15  21 29      8
177  КӘРІБАЙ НҰРСҰЛУ    ENFL   5 10   5 13      0  16 24      8
178  КӘРІБАЙ НҰРСҰЛУ    KZFL   6 10    NaN      0  17 30      8
179  КӘРІБАЙ НҰРСҰЛУ    MATH   7 12      0      0  11 20      8
180  КӘРІБАЙ НҰРСҰЛУ    PHYS   7 12   9 12      0  16 25      8
181  КӘРІБАЙ НҰРСҰЛУ    RUSL    4 8   6 12      0  15 30      8
413   ТӨЛЕГЕН ГАУХАР    CHEM  13 15  10 15  13 15  22 25      8
414   ТӨЛЕГЕН ГАУХАР    BIOL  10 10  14 16  12 15  22 29      8
415   ТӨЛЕГЕН ГАУХАР    ENFL   8 10   9 10      0  21 24      8
416   ТӨЛЕГЕН ГАУХАР    KZFL   7 10   7 10      0  27 30      8
417   ТӨЛЕГЕН ГАУХАР    MATH    NaN      0      0  18 20      8
418   ТӨЛЕГЕН ГАУХАР    PHYS  12 12  12 12      0  21 25      8
419   ТӨЛЕГЕН ГАУХАР    RUSL    7 8  10 12      0  24 30      8

,fio,subject,sor1,sor2,sor3,soch,grade,sor1_max,sor2_max,sor3_max,soch_max
175,КӘРІБАЙ НҰРСҰЛУ,CHEM,8.0,8.0,10,13,8,15.0,15.0,15,25
176,КӘРІБАЙ НҰРСҰЛУ,BIOL,7.0,8.0,15,21,8,10.0,16.0,15,29
177,КӘРІБАЙ НҰРСҰЛУ,ENFL,5.0,5.0,0,16,8,10.0,13.0,0,24
178,КӘРІБАЙ НҰРСҰЛУ,KZFL,6.0,0.0,0,17,8,10.0,0.0,0,30
179,КӘРІБАЙ НҰРСҰЛУ,MATH,7.0,0.0,0,11,8,12.0,0.0,0,20
180,КӘРІБАЙ НҰРСҰЛУ,PHYS,7.0,9.0,0,16,8,12.0,12.0,0,25
181,КӘРІБАЙ НҰРСҰЛУ,RUSL,4.0,6.0,0,15,8,8.0,12.0,0,30
413,ТӨЛЕГЕН ГАУХАР,CHEM,13.0,10.0,13,22,8,15.0,15.0,15,25
414,ТӨЛЕГЕН ГАУХАР,BIOL,10.0,14.0,12,22,8,10.0,16.0,15,29
415,ТӨЛЕГЕН ГАУХАР,ENFL,8.0,9.0,0,21,8,10.0,10.0,0,24
416,ТӨЛЕГЕН ГАУХАР,KZFL,7.0,7.0,0,27,8,10.0,10.0,0,30
417,ТӨЛЕГЕН ГАУХАР,MATH,0.0,0.0,0,18,8,0.0,0.0,0,20
418,ТӨЛЕГЕН ГАУХАР,PHYS,12.0,12.0,0,21,8,12.0,12.0,0,25
419,ТӨЛЕГЕН ГАУХАР,RUSL,7.0,10.0,0,24,8,8.0,12.0,0,30

Error: 'df4' has no school name

            fio subject   sor1  sor2  sor3   soch  grade
174  Алиби Ғани    PHYS   15 6  15 9   NaN  25 13      8
175  Алиби Ғани    KZSL    7 4  10 6   NaN   30 9      8
176  Алиби Ғани    RUFL  20 15   NaN   NaN  30 20      8
177  Алиби Ғани    MATH   14 8   NaN   NaN  20 17      8
178  Алиби Ғани    CHEM  15 12  14 7  15 8  25 15      8
179  Алиби Ғани    ENFL   10 7  10 7   NaN  24 10      8
180  Алиби Ғани    BIOL   12 7  14 9  14 8  30 18      8

,fio,subject,sor1,sor2,sor3,soch,grade,sor1_max,sor2_max,sor3_max,soch_max
174,Алиби Ғани,PHYS,15,15.0,0.0,25,8,6,9.0,0.0,13
175,Алиби Ғани,KZSL,7,10.0,0.0,30,8,4,6.0,0.0,9
176,Алиби Ғани,RUFL,20,0.0,0.0,30,8,15,0.0,0.0,20
177,Алиби Ғани,MATH,14,0.0,0.0,20,8,8,0.0,0.0,17
178,Алиби Ғани,CHEM,15,14.0,15.0,25,8,12,7.0,8.0,15
179,Алиби Ғани,ENFL,10,10.0,0.0,24,8,7,7.0,0.0,10
180,Алиби Ғани,BIOL,12,14.0,14.0,30,8,7,9.0,8.0,18

Error: 'df6' has no school name

In [68]:
# # Reading Excel Files
# to_read = {
#     1 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Абай облысы\COPY - Қожагелді батыр мектебі 4,8 сын БЖБ ТЖБ.xlsx",
#     2 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Абай облысы\COPY - сш Маяковского СОР и Соч  1 четв.xlsx",
#     3 : r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Акмолинская область\COPY - 4-8 И Құтпанұлы Аршалы ауданы Жібек жолы ауылы.xlsx"
# }

# df_dict = {}
# ss_list = ['sor1', 'sor2', 'sor3', 'soch']
# for key, file_path in to_read.items():
#     try:
#         df_dict[f"df{key}"] = pd.read_excel(file_path, sheet_name='data', dtype={col: str for col in ss_list})
#     except FileNotFoundError:
#         print(f"File not found: {file_path}")
#     except Exception as e:
#         print(f"Error reading file: {file_path}. Error: {e}")

# # Data Cleaning
# for key, df in df_dict.items():
#     df[ss_list] = df[ss_list].map(lambda x: ''.join(x.split()) if isinstance(x, str) else x)
#     df['grade'] = df['subject'].str[0]
#     df['subject'] = df['subject'].str[1:]
#     name = df.loc[2, 'fio']
#     school = db.loc[db['fio'].str.contains(name), 'school_ru'].values[0]
#     df['school'] = school
#     for _list in df[ss_list].values:
#         for val in _list:
#             if ('/' in str(val) or '\\' in str(val)) and (set(ss_list).issubset(df.columns)) and(isinstance(val, str)):
#                 df[ss_list] = df[ss_list].map(lambda x: x.replace('\\', ' ').replace('/', ' ').replace('.', '') if isinstance(x, str) else x)
#                 max_dict = {f"{col}_max": df[col].str.split().str[1] for col in ss_list if isinstance(df[col], str)}
#                 df = df.assign(**max_dict)
#                 df[ss_list] = df[ss_list].map(lambda x: x[0] if isinstance(x, str) else x)
                
#                 # Assigning the modified DataFrame back to the dictionary
#                 df_dict[key] = df
#                 break
#         reindexed_cols = ['school', 'fio', 'grade', 'subject', 'sor1', 'sor1_max', 'sor2', 'sor2_max', 'sor3', 'sor3_max', 'soch', 'soch_max']
#         df = df.reindex(columns=reindexed_cols)
#         df_dict[key] = df
#         display(df)
#         break

,school,fio,grade,subject,sor1,sor1_max,sor2,sor2_max,sor3,sor3_max,soch,soch_max
0,"КГУ ""СШ имени Кожагелды батыра""",Айтмұқаш Марғұлан,4,MATH,5,NaN,6,NaN,6,NaN,8,NaN
1,"КГУ ""СШ имени Кожагелды батыра""",Айтмұқаш Марғұлан,4,KZFL,6,NaN,5,NaN,NaN,NaN,9,NaN
2,"КГУ ""СШ имени Кожагелды батыра""",Айтмұқаш Марғұлан,4,SCIE,7,NaN,8,NaN,NaN,NaN,1,NaN
3,"КГУ ""СШ имени Кожагелды батыра""",Асанова Диана,4,MATH,7,NaN,8,NaN,8,NaN,8,NaN
4,"КГУ ""СШ имени Кожагелды батыра""",Асанова Диана,4,KZFL,7,NaN,7,NaN,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
750,"КГУ ""СШ имени Кожагелды батыра""",Тлеубергенова Мөлдір Даниярқызы,8,ENFL,7,NaN,9,NaN,NaN,NaN,2,NaN
751,"КГУ ""СШ имени Кожагелды батыра""",Тлеубергенова Мөлдір Даниярқызы,8,KZSL,6,NaN,8,NaN,NaN,NaN,2,NaN
752,"КГУ ""СШ имени Кожагелды батыра""",Тлеубергенова Мөлдір Даниярқызы,8,MATH,8,NaN,NaN,NaN,NaN,NaN,1,NaN
753,"КГУ ""СШ имени Кожагелды батыра""",Тлеубергенова Мөлдір Даниярқызы,8,PHYS,7,NaN,1,NaN,NaN,NaN,1,NaN
754,"КГУ ""СШ имени Кожагелды батыра""",Тлеубергенова Мөлдір Даниярқызы,8,RUFL,8,NaN,1,NaN,NaN,NaN,2,NaN

,school,fio,grade,subject,sor1,sor1_max,sor2,sor2_max,sor3,sor3_max,soch,soch_max
0,"КГУ ""СШ имени Маяковского""",Габидула Рауан,8,CHEM,8,15,7,15,6,15,13,25
1,"КГУ ""СШ имени Маяковского""",Габидула Рауан,8,BIOL,10,15,10,15,8,15,22,25
2,"КГУ ""СШ имени Маяковского""",Габидула Рауан,8,ENFL,6,11,7,14,NaN,0,10,24
3,"КГУ ""СШ имени Маяковского""",Габидула Рауан,8,KZSL,7,13,10,14,NaN,0,13,30
4,"КГУ ""СШ имени Маяковского""",Габидула Рауан,8,MATH,8,14,NaN,0,NaN,0,9,20
...,...,...,...,...,...,...,...,...,...,...,...,...
700,"КГУ ""СШ имени Маяковского""",Хуанышбай Алтынбек,4,SCIE,6,9,6,10,NaN,0,8,18
701,"КГУ ""СШ имени Маяковского""",Хуанышбай Алтынбек,4,KZFL,5,10,5,10,NaN,0,7,18
702,"КГУ ""СШ имени Маяковского""",Хуанышбай Мадина,4,KZFL,8,10,8,10,NaN,0,12,0
703,"КГУ ""СШ имени Маяковского""",Хуанышбай Мадина,4,MATH,8,10,7,10,8,10,12,0
704,"КГУ ""СШ имени Маяковского""",Хуанышбай Мадина,4,SCIE,9,9,9,10,NaN,0,16,0

,school,fio,grade,subject,sor1,sor1_max,sor2,sor2_max,sor3,sor3_max,soch,soch_max
0,"КГУ ""Общеобразовательная школа имени Иманжусуп...",Айқынқызы Кәусар,8,CHEM,1,NaN,1,NaN,NaN,NaN,2,NaN
1,"КГУ ""Общеобразовательная школа имени Иманжусуп...",Айқынқызы Кәусар,8,BIOL,1,NaN,1,NaN,NaN,NaN,3,NaN
2,"КГУ ""Общеобразовательная школа имени Иманжусуп...",Айқынқызы Кәусар,8,ENFL,1,NaN,1,NaN,NaN,NaN,2,NaN
3,"КГУ ""Общеобразовательная школа имени Иманжусуп...",Айқынқызы Кәусар,8,KZFL,1,NaN,1,NaN,NaN,NaN,3,NaN
4,"КГУ ""Общеобразовательная школа имени Иманжусуп...",Айқынқызы Кәусар,8,MATH,NaN,NaN,1,NaN,NaN,NaN,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1027,"КГУ ""Общеобразовательная школа имени Иманжусуп...",Үсімбай Ернұр,4,MATH,1,NaN,1,NaN,NaN,NaN,1,NaN
1028,"КГУ ""Общеобразовательная школа имени Иманжусуп...",Үсімбай Ернұр,4,SCIE,8,NaN,1,NaN,NaN,NaN,1,NaN
1029,"КГУ ""Общеобразовательная школа имени Иманжусуп...",Тұрғын Тұмар,4,KZFL,1,NaN,1,NaN,NaN,NaN,1,NaN
1030,"КГУ ""Общеобразовательная школа имени Иманжусуп...",Тұрғын Тұмар,4,MATH,1,NaN,1,NaN,NaN,NaN,1,NaN
1031,"КГУ ""Общеобразовательная школа имени Иманжусуп...",Тұрғын Тұмар,4,SCIE,8,NaN,1,NaN,NaN,NaN,1,NaN

In [248]:
# to_read = {
#     1: r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Абай облысы\COPY - Қожагелді батыр мектебі 4,8 сын БЖБ ТЖБ.xlsx",
#     2: r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Абай облысы\COPY - сш Маяковского СОР и Соч  1 четв.xlsx"
# }

# for key, file_path in to_read.items():
#     try:
#         df_dict[f"df{key}"] = pd.read_excel(file_path, sheet_name='data', dtype={col: str for col in ss_list})
#     except FileNotFoundError:
#         print(f"File not found: {file_path}")
#     except Exception as e:
#         print(f"Error reading file: {file_path}. Error: {e}")

# for key, df in df_dict.items():
#     for _list in df[ss_list].values:
#         for val in _list:
#             if ('/' in str(val) or '\\' in str(val)):
#                 display(key, df.head(10))
#                 break
#         break

'df1'

,school,fio,subject,sor1,sor2,sor3,soch
0,Қожагелді батыр мектебі,Айтмұқаш Марғұлан,4MATH,5\10,6\10,6\10,8\16
1,Қожагелді батыр мектебі,Айтмұқаш Марғұлан,4KZFL,6 \10,5\10,NaN,9\16
2,Қожагелді батыр мектебі,Айтмұқаш Марғұлан,4SCIE,7\10,8\10,NaN,10\16
3,Қожагелді батыр мектебі,Асанова Диана,4MATH,7\10,8\10,8\10,8\16
4,Қожагелді батыр мектебі,Асанова Диана,4KZFL,7\10,7\10,NaN,12\16
5,Қожагелді батыр мектебі,Асанова Диана,4SCIE,8\10,8\10,NaN,14\16
6,Қожагелді батыр мектебі,Болатбек Жанмәди,4MATH,8\10,9\10,8\10,14\16
7,Қожагелді батыр мектебі,Болатбек Жанмәди,4KZFL,8\10,9\10,NaN,12\16
8,Қожагелді батыр мектебі,Болатбек Жанмәди,4SCIE,8\10,10\10,NaN,12\16
9,Қожагелді батыр мектебі,Дюманбек Ислам,4MATH,8\10,9\10,9\10,14\16

In [11]:
# to_read = {
#     1: r"C:\Users\kassenov_r\OneDrive - AEO NIS\Рабочий стол\Мониторинг\Сельские школы\data\СОЧ 63 мектеп 2023\Абай облысы\COPY - Қожагелді батыр мектебі 4,8 сын БЖБ ТЖБ.xlsx"
# }
# df_dict = {}
# df_dict = {f"df{key}" : pd.read_excel(df, sheet_name='data', dtype={col : str for col in ss_list}) for key, df in to_read.items()} # reading the files

# ss_list = ['sor1', 'sor2', 'sor3', 'soch']
# # df_dict = {key : df[f"{col}_max"] for col in ss_list for key, df in df_dict.items()} # Checking for presence of _max columns

# df_dict = {key : df.assign(**{col: df[col].str.split().str.join('') for col in ss_list}) for key, df in df_dict.items()} # removing any space in ss_list columns
# df_dict = {key : df.map(lambda x: " ".join(x.split()) if isinstance(x, str) else x) for key, df in df_dict.items()} # removing whitespaces
# df_dict = {key : df.assign(grade = df['subject'].str[0], subject=df['subject'].str[1:]) for key, df in df_dict.items()} # creating grade column and removing first char in 'subject' column
# df_dict = {key : df.map(lambda x: x.replace('\\', ' ',).replace('/', ' ',).replace('.', '') if isinstance(x, str) else x) for key, df in df_dict.items()}

# max_dict = {f"{col}_max" : df[col].str.split(' ').str[1] for _, df in df_dict.items() for col in ss_list} # creating a dict of max score columns
# df_dict = {key: df.assign(**{column: value for column, value in max_dict.items()}) for key, df in df_dict.items()} # creating max score columns
# df_dict = {key: df.assign(**{col: df[col].str[0] for col in ss_list}) for key, df in df_dict.items()} # leaving first chars (obtained scores) in score columns

# name = [df[df.index == 10]['fio'] for _, df in df_dict.items()][0].values[0] # extracting student name to further extract school name
# school = db.loc[db['fio'].str.contains(name), 'school_ru'].unique()[0] # extracting school name
# df_dict = {key : df.assign(school = school) for key, df in df_dict.items()} # assigning school name to school column

# for key, df in df_dict.items():
#     display(df)

,school,fio,subject,sor1,sor2,sor3,soch,grade,sor1_max,sor2_max,sor3_max,soch_max
0,"КГУ ""СШ имени Кожагелды батыра""",Айтмұқаш Марғұлан,MATH,5,6,6,8,4,10,10,10,16
1,"КГУ ""СШ имени Кожагелды батыра""",Айтмұқаш Марғұлан,KZFL,6,5,NaN,9,4,10,10,NaN,16
2,"КГУ ""СШ имени Кожагелды батыра""",Айтмұқаш Марғұлан,SCIE,7,8,NaN,1,4,10,10,NaN,16
3,"КГУ ""СШ имени Кожагелды батыра""",Асанова Диана,MATH,7,8,8,8,4,10,10,10,16
4,"КГУ ""СШ имени Кожагелды батыра""",Асанова Диана,KZFL,7,7,NaN,1,4,10,10,NaN,16
...,...,...,...,...,...,...,...,...,...,...,...,...
750,"КГУ ""СШ имени Кожагелды батыра""",Тлеубергенова Мөлдір Даниярқызы,ENFL,7,9,NaN,2,8,10,10,NaN,24
751,"КГУ ""СШ имени Кожагелды батыра""",Тлеубергенова Мөлдір Даниярқызы,KZSL,6,8,NaN,2,8,7,10,NaN,30
752,"КГУ ""СШ имени Кожагелды батыра""",Тлеубергенова Мөлдір Даниярқызы,MATH,8,NaN,NaN,1,8,13,NaN,NaN,20
753,"КГУ ""СШ имени Кожагелды батыра""",Тлеубергенова Мөлдір Даниярқызы,PHYS,7,1,NaN,1,8,13,16,NaN,25
754,"КГУ ""СШ имени Кожагелды батыра""",Тлеубергенова Мөлдір Даниярқызы,RUFL,8,1,NaN,2,8,10,15,NaN,30